* {
    margin: 0;
    padding: 0;
}

#navbar {
    color: white;
    height: 60px;
    background-color: #0f1111; 
}

button {
    background-color: #f08804; 
    color: white;
}

#logo {
    margin-left: 2px;
    font-size: 25px; 
    color: #f08804; 
}

input {
    margin-left: 200px;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 200px;
}

.contentBox {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

#content {
    height: 625px;
}

footer {
    background-color: #0f1111;
    color: white;
    text-align: center;
}